.hero {
    /**
   * Lay out the children of this container with
   * flexbox.
   */
    display: flex;
    /**
   * Rotate the main axis so that the children
   * are laid out vertically, the same as in the
   * above "Side bar" example.
   */
    flex-direction: column;
    /**
   * Align the children in the center, along
   * the main axis. Because the direction is
   * "column" this has a similar effect as setting
   * text-align: center.
   */
    align-items: center;
    /**
   * Instead of pushing the children apart, as in
   * previous examples, we will group them together
   * in the center of their container.
   */
    justify-content: center;
    min-height: 425px;
    padding: 10px;
    background-color: white;
    /* Positioning for background image */
    position: relative;
    /* Css background implementation; remove positining
    background: url(https://dl.dropboxusercontent.com/u/7094141/Light_cloud1300.jpg);
    background-size: cover;*/
    .hero_content {
        font-size: 16px;
        max-width: 80%;
        margin: 10px 20px 0px 20px;
        text-align: center;
        /* for background img tag */
        z-index: 1001;
        h2 {
            font-size: 30px;
            font-weight: 700;
            text-align: center;
        }
    }
}

.hero_media {
    position: absolute;
    width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}