.flex-header {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 64px;
  max-height: 1000px;
  z-index: 3;
  background-color: grey;
  color: #fff; }

.brand--title {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box; }

.flex-header--row {
  -js-display: flex;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center; }

.nav-container {
  -js-display: flex;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 64px;
  flex-direction: row; }

.nav-bar--item {
  flex: 1 1 auto;
  text-decoration: none;
  display: inline-block;
  padding: 0 1em;
  height: 4.5em;
  line-height: 4.5em;
  margin-left: 0;
  transition: background-color .3s; }

nav a:hover,
.active {
  background-color: rgba(0, 0, 0, 0.1); }