@import "components/app";
@import "components/styles";
@import "components/navigation";
@import "components/hero";

:root {
--fontSize: 1rem;
--mainColor: white;
--highlightColor: hwb(190, 35%, 20%);
}

body {
    background-color: var(--mainColor);
}
